header{
    background: rgb(230, 195, 200);
    color: rgb(139, 102, 54);
    text-align: center;
    font-family:Courier New,georgia,Courier, monospace, Tahoma, sans-serif;
    font-size: 35px;
   padding: 10px 50px 10px 50px;
   margin-block-end: 10px;
}
 .saludo{ 
    padding: 50px 25px 20px 25px;
  height:200px;
float: left;
 }
.hola{
    text-align: left;
    font-size: 25px;
    padding: 100px 0px 100px 30px;
    margin: 0px  0px 0px 0px;
}
.info{
text-align: center;
width: 100%;
}
.pago{
    text-align: justify;
 font-size: 25px;
 margin: 90px 600px 0px 200px;
}
.tarjeta{
    text-align: center;
    font-size: 25px;
    margin: 90px 100px  0px 0px;
}
.datos{
 text-align: center;
 font-size: 25px;
 margin: 0px 300px 0px 450px;
 padding: 0px 0px 0px 0px;
 float: left;
}
.boton{
padding: 15px 30px 15px 30px;
font-size: 18px;
}
.todo{
background-color: rgb(215, 232, 253);
color: rgb(64, 69, 73);
}
.campo{
    padding: 12px 40px 12px 40px;
    font-size: 20px;
}